/StringVariables/nbproject/private/
/StringVariables/build/
/ExtraOperationsOnStrings/nbproject/private/
/ExtraOperationsOnStrings/build/
/ExtraOperationsOnStrings/dist/
/JavaApplication20/nbproject/private/
/JavaApplication20/build/
/UserInputScannerClass/nbproject/private/
/UserInputScannerClass/build/
/BooleanVariables/nbproject/private/
/JavaApplication22/nbproject/private/
/JavaApplication22/build/
/BooleanVariables/build/
